<html>
<body>
    <script src="/js/dependencies/jquery-1.11.1.min.js"></script>
    <div id='create_human'>
        <p>Create a human</p>
        <form id='human_form'>
            <input type='text' size='100' id='human_name'></input>
            <input type='submit'></input>
        </form>
    </div>
    <div id='create_thing'>
        <p>Create a thing</p>
        <form id='thing_form'>
            <input type='text', size='100' id='thing_name'></input>
            <input type='submit'></input>
        </form>
    </div>
    <button id='remove'>Remove Thing</button>
    <div id='humans'>
        <p>Humans:</p>
    </div>
    <div id='things'>
        <p>Things:</p>
    </div>
</body>
</html>